<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Things to do</title>
</head>
<body>
	
	<h1>Things to do</h1>
	
	<ul>
		{% for todo in template_todos %}
		<li><a href ='/{{ todo.id }}/delete'>{{ todo.todo_text }}</a></li>
		{% endfor %}
	</ul>
	
	<form method="POST">
		{{ template_form.hidden_tag() }}
		<p>
		{{ template_form.todo.label() }}
		{{ template_form.todo() }}
		</p>
		<p>
		{{ template_form.submit() }}
		</p>
	</form>
	
</body>
</html>